.container {
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
  background-color: antiquewhite;
  margin-bottom: 3rem;
}
.title {
  font-size: 20px;
  font-weight: bold;
  color: green;
}